<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>this is home page 1+2</h1>
    <h3><%= 21+2 %> </h3>//here we create dynamic html
     <h3><%= "rajtiwari".toUpperCase() %> </h3>
      <h3><%= ["hlo","banjour","namaste"][0] %> </h3>

    <p>gdsgdefdchdjfbujewhfuedwufjsduhbfcvujdsuhnfvhfdushvfdshvfjvjvujfhufjhfujhfdsuhfuhfuifhhg</p>
    <button>click me</button>
</body>
</html>