<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll dice</title>
</head>
<body>
    <!-- 5 -->
    <h1> Dice gave value: <%= diceval %> </h1>
      <!-- 7 conditional statamnt in ejs -->

      <% if(diceval ==6){%>
      <h2>Nice ,,Roll dice again</h2>
      <%}%>

</body>
</html>